exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "axis", "mtext", "par", "plot", "text")
importFrom("stats", "cov")
importFrom("stats", "lm")
importFrom("CCA","cc")
importFrom("corpcor", "pseudoinverse")
export(seedCCA)
export(selectu)
export(covplot)
S3method(print, seedCCA)
S3method(plot, seedCCA)
S3method(coef, seedCCA)
S3method(fitted, seedCCA)
